3Dquestmat/
attn_data/
attenhead_decomp/
attentions_CIFAR/
firstord_attn/
holdermat_attn/
Miscillaneous_Data/
Miscillaneous_Figures/
network_tensor_data/
paraproduct_experiments/
questionnaire_experiments/
softmax_attn/
paraproduct_attent.m










